service: blog-github-actions
provider:
  name: aws
  runtime: python3.8
  stage: dev
  region: us-east-1

custom:
  pythonRequirements:
    dockerizePip: true

package:
  individually: false
  exclude:
    - package.json
    - package-log.json
    - node_modules/**

functions:
  theLambda:
    name: covid_lambda
    handler: rapid_api_pipe.covid
    description: get-data
    timeout: 20 #seconds
    memorySize: 128 #mb


plugins:
  - serverless-python-requirements
